.buttons-display {
    display: flex;
    gap: 50px;
    padding: 50px;

}

button {
    flex: 1;
    padding: 30px;
}

.result-container {
    display: flex;
    flex-direction: column;
}

.results {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.score {
    display: flex;
    margin-top: 100px;
    font-size: 30px;
}

.wins, .losses {
    flex: auto;
    display: flex;
    justify-content: center;
}